.MemeThumbnail {
    display: flex;
    height: 35vh;
    overflow-y: auto;
    justify-content: space-evenly;
    padding-top: 15px;
    flex-wrap: wrap;
}

.MemeThumbnail>*{
    width: 24vh;
    height: 24vh;
}

/* gestion de la meo des liens de memes*/
.MemeThumbnail>*>svg{
    width: 100%;
    height: 100%;
}